#darkreader-btn-light {
    position: fixed;
    right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center -10px;
    width: 22px;
    height: 50px;
    cursor: pointer;
    transition: background-position 0.25s linear;
}

#darkreader-btn-light.front {
    top: 72px;
}

#darkreader-btn-light.admin {
    top: 37px;
}

#darkreader-btn-light.on {
    background-image: url("light-on.png");
}

#darkreader-btn-light.off {
    background-image: url("light-off.png");
}

#darkreader-btn-light:hover {
    background-position: center;
}
